on:
  pull_request:
    types: [opened, synchronize, edited, reopened]

name: "Bundle Size Build"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  store-pr-num:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Save PR number
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
      - uses: actions/upload-artifact@v5
        with:
          name: pr
          path: pr/
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - name: base
            ref: ${{ github.event.pull_request.base.ref }}
          - name: head
            ref: ${{ github.ref }}
    steps:
      - uses: actions/checkout@master
        with:
          ref: ${{ matrix.ref }}
          submodules: recursive
      - name: Read Meteor version
        run: sed -e "s/@/_VERSION=/" < .meteor/release >> "$GITHUB_ENV"
      - name: Use Node.js 14.x
        uses: actions/setup-node@master
        with:
          node-version: 14.x
      - uses: actions/cache@v4
        id: cache-meteor
        with:
          path: ~/.meteor
          key: "${{ runner.os }}-meteor-install-\
            ${{ hashFiles('.meteor/versions') }}"
      - uses: meteorengineer/setup-meteor@v2
        if: steps.cache-meteor.outputs.cache-hit != 'true'
        with:
          meteor-release: ${{ env.METEOR_VERSION }}
      - uses: actions/cache@v4
        id: cache-npm
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: npm install
        run: ~/.meteor/meteor npm install
      - name: install bundle-visualizer
        run: ~/.meteor/meteor add bundle-visualizer
      - name: build
        run: "~/.meteor/meteor build --directory ${{ runner.temp }}\
          /build-${{ matrix.name }}"
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.name }}
          path: |
            ${{runner.temp}}/build-${{matrix.name}}/bundle/programs/web.browser/*.stats.json
            ${{runner.temp}}/build-${{matrix.name}}/bundle/programs/web.browser/*.css
      - name: remove bundle-visualizer
        run: ~/.meteor/meteor remove bundle-visualizer
